* {
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(120deg, #5664FB 0%, #89EEDA 100%);
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards .card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}

.cards .card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

@media screen and (min-width: 600px) {
  .cards .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .cards .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.cards .card:nth-child(2n) h1 {
  background-image: linear-gradient(120deg, #6DFAAF 0%, #7CC6F4 100%);
}

.cards .card:nth-child(4n) h1 {
  background-image: linear-gradient(120deg,  #3A43F4 0%, #2BFA88 100%);
}

.cards .card:nth-child(5n) h1 {
  background-image: linear-gradient(120deg, #FF4141 0%, #FFF473FF 100%);
}
